<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiang.mapper.AdminLoginMapper">

    <select id="getAdminByUsername" resultType="Admin">
        select username,password,salt
        from mybatis.admin
        where username = #{username}
    </select>

</mapper>